  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Poppins:wght@500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&display=swap');
  *{
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
  }
  main{
    background: #FFF;
  }
  header{
    padding: 50px 120px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn-primary{
    display: inline-flex;
    padding: 0px 24px;
    align-items: center;
    gap: 8px;
    border-radius: 41px;
    background: #E02C6D;
    font-size: 1rem;
    color: #FFF;
    margin-top: 20px;
    border: none;
  }
  .header-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
  }
  nav > ul{
    display: flex;
  }
  nav li,img{
    list-style: none;
    font-weight: 600;
    font-size: 1rem;
    margin: 20px;
  }
  nav li a{
    text-decoration: none;
    color: #3A3A3A;
  }
  #nav-search{
    width: 24px;
    height: 24px;
  }
  #nav-cart{
    width: 36px;
    height: 36px;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner-content{
    width: 582px;
    height: 270px;
  }
  .banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
    line-height: 70px;
  }
  .banner-text{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
  }
  .banner-img{
    background-image: url("images/circle\ design.svg");
    background-repeat: no-repeat;
  }
  .banner-img img{
    padding-bottom: 20px;
  }
  .sponsors{
    padding: 100px 170px;
  }
  .sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
  }
  /* popular-section */
  .popular-section{
    padding: 0px 200px;
  }
  .popular-title{
    font-size: 1.75rem;
    font-weight: 600;
    color: #3A3A3A;
    text-align: center;
  }
  .popular-card-container{
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 60px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    
  }
  .card{
    width: 329px;
    height: 476px;
    padding: 16px 15px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    
  }
  .card-title{
    font-size: 1.75rem;
    font-weight: 500;
    color: #18191F;
  }
  .card-price{
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }
  .card-p{
    width: 196px;
    font-family: Inter;
    font-size: 0.87rem;
    font-weight: 700;
    color: #787885;
    padding-top: 10px;
  }
  .popular-ancor{
    display: inline-flex;
    align-items: center;
    float: right;
    padding-right: 80px;
  }
  .popular-ancor > a{
    font-size: 1rem;
    font-weight: 700;
    color: #E02C6D;
  }

  /* feature */
  .feature{
    padding: 100px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .feature-title{
    font-size: 2.375rem;
    color: #0A0826;
    font-weight: 700;
  }
  .feature-p-section{
  width: 501px;
  height: 88px;
  }
  .feature-p{
    font-size: 1rem;
    font-weight: 700;
    color: #6C6C6C;
  }
  .btn{
    border-radius: 0px;
  }

  /* footer */
  footer{
    background-color: #0A0826;
    padding: 50px;
  }
  .footer-title{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
  .footer-p{
    font-family: Manrope;
    font-weight: 700;
    font-size: 0.86rem;
    color: #FFF;
    text-align: center;
    padding: 3px;
  }
  .footer-icon{
    text-align: center;
  }

  /* responsive */
  @media screen and (max-width:576px) {
    header{
        padding: 0px 50px;
    }
    nav{
        flex-direction: column;
    }
    .banner,
    .feature{
        flex-direction: column-reverse;
    }
    .banner-content{
        text-align: center;
    }
    .banner-title{
        font-size: 1.75rem;
    }
    .popular-title{
      font-size: 1rem;
    }
    .popular-card-container{
      grid-template-columns: 1fr;
      padding-right: 90px;
    }
  .popular-ancor{
    padding: 0px;
  }
    .feature-title{
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 15px;
    }
    .feature-p{
      text-align: center;
      font-size: 1rem;
    }
    .btn{
      margin: 0 150px;
    }
    .sponsors{
      padding: 0px 30px;
    }
    .sponsors-img-container{
      flex-wrap: wrap;
      gap: 5px;
    }
  }